@import "@core/scss/base/bootstrap-extended/include"; // Bootstrap includes

.button {
    width: auto;
}

.div-button {
    float: right;
    padding-right: 14px;
    padding-top: 14px;
}

.form-input {
    margin: 0 2.5rem 1.2rem 2rem;
}

.text-input {
    width: 50%;
}

.delete-button {
    width: auto;
    color: #b50303;
    margin-right: 10px;
}