<div class="content-wrapper container-xxl p-0">
  <div class="content-body">

    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader" ></app-content-header>

    <div class="card">
      <!-- add button -->
      <div class="div-add-button card-body pb-1">
        <button (click)="addClicked()" class="btn btn-primary add-button" rippleEffect>เพิ่ม</button>
      </div>
      <!-- body -->
      <div class="card-header">
        <h4 class="card-title">Kick start your project 🚀</h4>
      </div>
      <div class="card-body pb-1">
        
        <!-- table -->
        
      </div>
    </div>
  </div>
</div>