.div-header {
    width: 100%;
}

.div-add-button {
    float: right;
}

.div-more-button {
    margin-top: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.more-button {
    width: auto;
}

.add-button {
    width: auto;
}

.input-search {
    max-width: 200px;
}

.div-table {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.table-header {
    // display: flex;
    // justify-content: center;
    text-align: center;
}
